.generalTable {
  margin : 10px;
  border: 1px solid red;
}

.generalTableCell {
  padding: 3px;
}

.recipeFormControls {
  width: fill;
  text-align: center;
}

.modalDiv {
  border : 1px solid black;
  background-color: red;
  width: 50%;
  position: absolute;
  top : 100px;
  left : 100px;
}
